{% extends "layout.njk" %} {% block content %}

<div class="card table-container">
  <a href="/members/create">Novo</a>

  <table whidth="100%">
    <thead>
      <tr>
        <th>Membros</th>
        <th>Email</th>
        <th>Peso</th>
        <th>Altura</th>
        <th>Açao</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
      <tr>
        <td>
          <span style="background-image: url({{member.avatar_url}});"></span>
          {{ member.name }}
        </td>
        <td class="containertexto">
          <a>{{ member.email }}</a>
        </td>
        <td class="containertexto">
            <a>{{ member.weight }}</a>
        </td>
       <td class="containertexto">
            <a>{{ member.height }}</a>
        </td>
        <td>
          <a href="/members/{{member.id}}" rel="noopener noreferrer">ver</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
